# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dead-mans-switch

# OS
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
results.html

# API doc temp files
api/*.gen.yaml

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Config file (may contain secrets; example file is tracked)
dead-mans-switch.yaml

# registry packages
*.zip
*.sig
*SHA*SUMS*
./cache

# Terraform
*.tf
*.terraform*
*tfstate*
*.opentofu*

# DB
*.db
data/

# Air
tmp

# Authentik
dms-credentials.env